<!-- <form action="<%= user_url(@user) %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <label>Username:
        <input type="text" name="user[username]" value="<%= @user.username %>">
    </label>
    <br>
    <label>Age:
        <input type="text" name="user[age]" value="<%= @user.age %>">
    </label>
    <br>
    <label>Email:
        <input type="text" name="user[email]" value="<%= @user.email %>">
    </label>
    <br>
    <input type="submit" value="Update User">
</form>-->
<%= render "form", user: @user, type: :edit %>   
