<!-- <form action="<%= users_url %>" method="POST">
    <label>Username:
        <input type="text" name="user[username]" value="<%= @user.username %>">
    </label>
    <br>
    <label>Age:
        <input type="text" name="user[age]" value="<%= @user.age %>">
    </label>
    <br>
    <label>Email:
        <input type="text" name="user[email]" value="<%= @user.email %>">
    </label>
    <br>
    <input type="submit" value="Create User <3">
</form> -->
<%= render "form", user: @user, type: :new %>   