<ul>
    <li><%= @user.username %></li>
    <li><%= @user.age %></li>
    <li><%= @user.email %></li>
    <li><a href="<%= edit_user_url(@user) %>">Edit User</a></li>
    <li>
        <form action="<%= user_url(@user) %>" method="POST"> 
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete Wizard">
        </form>
    </li>
</ul>